body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-item {
  padding: 0 !important;
}

.menu-item {
  display: block;
  padding: 0 10%;
}

.list-nav {
  list-style-type: none;
  margin: 0;
  padding-right: 5%;
}

.Login {
  padding: 5%;
}

.error {
  border-color: red !important;
}

.logoCenter {
  width: 50%;
  max-width: 150px;
  padding-bottom: 50px;
}

.image-load {
  width: 100%;
  height: 100%;
}

.bg-load {
  width: 50vh;
  height: 50vh;
  opacity: 0.9;
  margin: auto;
}

@media all and (min-width: 400px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    width: 320px;
  }
}
